# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
public/
nbproject/

# Vagrant
.vagrant/

# Image generated
/resources/

# NodeJs
node_modules/
external-resources/lambda/**/*.zip

# Html created
public/
docs/